.bg-secondary {
    background-color: #222 !important;
}
.bg-primary {
    background-color: #553268 !important
}
.footer {
    background-color: #553268 !important;
}
.copyright {
    background-color: #222;
}